<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Visitekaart Elina</title>
    <link rel="stylesheet" href="/style.css">
    <script src="/script.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Oleo+Script&display=swap" rel="stylesheet">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,700,1,-25" />

<body>
    <div class="container">
        <h1><%= member.surname %> <br> <%= member.name %></h1>
        <img id="pf" src="assets/capture.jpeg" alt="Profile picture">
        <div class="button12">
            <button id="button1" onclick="b1()" class="material-symbols-outlined">mail</button>
            <button id="button2" onclick="b2()" class="material-symbols-outlined">call</button>
        </div>
        <ul id="changingtext">
            <li>18 years • Armenian ethnicity</li>
            <li>1st year FDND</li>
            <li>HTML, CSS and JavaScript ★☆☆☆☆</li>
            <li><i>'watch a sunrise at least once a day'</i></li>
            <li>Also...try to find the <u>hidden</u> button ;)</li>
        </ul>
        <div class="button3456">
            <button id="button3" onclick="b3()" class="material-symbols-outlined">favorite</button>
            <button id="button4" onclick="b4()" class="material-symbols-outlined">construction</button>
            <button id="button5" onclick="b5()" class="material-symbols-outlined">volunteer_activism</button>
            <button id="button6" onclick="b6()" class="material-symbols-outlined">checklist</button>
        </div>
        <div class="images">
            <img id="f1" src="assets/1.jpeg" alt="Post">
            <img id="f2" src="assets/2.jpeg" alt="Post">
            <img id="f3" src="assets/3.jpeg" alt="Post">
            <img id="f4" src="assets/4.jpeg" alt="Post">
            <img id="f5" src="assets/5.jpeg" alt="Post">
            <img id="f6" src="assets/6.jpeg" alt="Post">
        </div>
        <div class="shapes">
            <div id="circle"></div>
            <div id="oval"></div>
            <span class="material-symbols-outlined" id="battery">battery_very_low</span>
            <span class="material-symbols-outlined" id="wifi">wifi_off</span>
        </div>
        <div class="button7"><button id="button7" onclick="b7()"></button></div>
        <div class="charger">
            <a href="/index">
            <div id="ac2"></div>
            <div id="ac3"></div>
            <div id="ac4"></div>
            </a>
        </div>
        <a href="purple.html">
            <div class="color"></div>
        </a>
    </div>

</body>

</html>